body {
    padding-top: 56px;
  }
  .header-text-attr{
    color: white;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  .right-icons{
    position: absolute;right:10px;top: 10px;
}